html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

li {
  margin: 1em;
  margin-left: 2em;
  list-style-type: square;
}
table,
th,
td {
  font-size: 15px;
  border: 1px solid black;
  padding: 5px;
}
table {
  border-collapse: collapse;
  background-color: white;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}
footer {
  font-size: 15px;
  padding-top: 10px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
}
